!!!5

%html

  %head
    %script{ src: 'scripts/scripts-kissmetrics.js' }
    %script{ src: 'scripts/scripts-googleanalytics.js' }
    %script{ src: 'scripts/scripts-crazyegg.js' }
    %script{ src: 'scripts/scripts-mixpanel.js' }
    %title WEVO | Enabling Market Success.
    %meta{ content: 'width=device-width, initial-scale=1', name: 'viewport' }
    %link{ rel: 'stylesheet', type: 'text/css', href: 'style/style.css' }
    %link{ rel: 'stylesheet', type: 'text/css', href: 'http://fonts.googleapis.com/css?family=Bitter:400,700,400italic|Raleway:200,400,300,500,600,800,700' }
    %link{ rel: 'stylesheet', type: 'text/css', href: '//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' }
    %script{ src: '//cdn.optimizely.com/js/1359360430.js' }
    %script{ src: '//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' }
    %script{ src: '//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js' }
    %script{ src: 'scripts/jquery.cookie.js' }
    %script{ src: 'scripts/scripts.js' }
    

  %body
    .flash.js-flash.bg-purple.color-white.l-centered.l-hidden
      %strong.js-flash-text.opacity-0
        Your inquiry submitted successfully! Thanks for your interest in trying out WEVO. We'll
        be reaching out to you shortly, so stay tuned!

    %header
      .wrap
        .logo-wrapper
          %a.logo{ href: 'index.html' }
        %a{ href: 'http://www.highstartgroup.com/about-us/' } Blog
        %a{ href: 'pricing.html' } Pricing
        %a{ href: 'story.html' } Our Story

    %section
      .wrap
        %h2.mbs Pricing

        .wrap-medium.l-centered.mbl
          %button.js-pricing-single.button.button--purple.is-active Single Use
          %button.js-pricing-monthly.button.button--purple Monthly

        .single-use
          .wrap-medium
            %table
              %tr
                %td{ width: '33%' }
                  %strong WEVO Test
                %td
                  %p.number $5,000
                  %ul
                    %li One Segment
                    %li 20 features & benefits prioritized
                    %li You source 100 responses per segment
              %tr
                %td
                  %strong Additional Segments
                %td
                  %p.number $500
                  %p per segment
              %tr
                %td
                  %strong B2C Responses
                %td
                  %p.number $1000
                  %p per segment (100 responses)
              %tr
                %td
                  %strong B2B Responses
                %td
                  %p.number Contact Us
                  %p per segment (100 responses)
              %tr
                %td
                  %strong Consulting Hours
                %td
                  %p.number 4 hours / test
                  %p to help you fine tune your product value proposition, benefit statements and objections

        .monthly.l-hidden
          %table
            %tr
              %th
              %th Silver
              %th Gold
              %th Platinum
            %tr
              %td
                %strong WEVO Test
              %td
                %p.number $8,000
                %p 3 tests / month
              %td
                %p.number $15,000
                %p 5 tests / month
              %td
                %p.number $25,000
                %p 10 tests / month
            %tr
              %td
                %strong Additional Segments
              %td
                %p.number $500
                %p per segment
              %td
                %p.number $500
                %p per segment
              %td
                %p.number $500
                %p per segment
            %tr
              %td
                %strong B2C Responses
              %td
                %p.number $1000
                %p per segment (100 responses)
              %td
                %p.number $1000
                %p per segment (100 responses)
              %td
                %p.number $1000
                %p per segment (100 responses)
            %tr
              %td
                %strong B2B Responses
              %td
                %p.number Contact Us
                %p per segment (100 responses)
              %td
                %p.number Contact Us
                %p per segment (100 responses)   
              %td
                %p.number Contact Us
                %p per segment (100 responses)             

    %footer
      .wrap
        %img.wevo{ src: 'images/logo-wevo-light_@2x.png' }
        .about.color-white.mbm
          %h3 About
          %a{ href: 'http://www.highstartgroup.com/about-us/' } About High Start Group
          %br
          %a{ href: 'http://www.highstartgroup.com/contact-us/' } Contact Us

      .wrap
        %p.l-left
          High Start Group &copy; 2014

        %p.l-right
          50 Congress Street, Suite 1025, Boston, MA 02131
          %span 617.249.0531


    %div{ style: 'display: none;' }

      :javascript
        var google_conversion_id = 1039372480;
        var google_conversion_language = "en";
        var google_conversion_format = "3";
        var google_conversion_color = "ffffff";
        var google_conversion_label = "EAl6CNbjlgwQwKHO7wM";
        var google_remarketing_only = false;

      %script{ src: '//www.googleadservices.com/pagead/conversion.js' }

      %noscript
        %div{ style: "display:inline;" }
          %img{ alt: "", height: "1", src: "//www.googleadservices.com/pagead/conversion/1039372480/?label=EAl6CNbjlgwQwKHO7wM&guid=ON&script=0", style: "border-style:none;", width: "1" }


